<!-- /templates/my-form.html-->

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <form action="/form-handler" method="POST">
            <div>
                Name: <input type="text" name="name"><br>
            </div>
            <div>
                Gender: <input type="text" name="gender"><br>
            </div>
            <input type="range" value="50" step="10" name="brightness">
            <input type="submit" value="Submit">
          </form>
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 2%;
        }

        div {
            margin: 2% 0;
        }
    </style>
</html>